include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include start/start
include title/title
include about/about
include slider/slider

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "test_proj",

			})
			
		+b.BODY.page
			+e.DIV.wrap
			
			block header
				+header()
				
			block content

			block footer
				footer footer
				
			block vendors
				// build:js js/vendor.js
				script( src="js/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
				// build:js js/slider.js
				script( src="js/slider.js")
				// endbuild
