mixin start()
  +b.SECTION.start
    +e.DIV.container
      +e.DIV.info
        +b.DIV.start-text
          +e.H1.title Заголовок 2 строки
          +e.P.text Lorem ipsum dolor sit amet.
      +e.DIV.img(src="img/phone.png")
