mixin about()
  +b.SECTION.about
    +e.DIV.container
      +e.DIV.info
        +b.DIV.about-info
          +title("Мы делаем lorem")
          +e.P.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          +e.BUTTON.btn Товары
      +slider([
      {
        "text": "lorem ipsum",
        "title": "Dacom Tws",
        "img": "product1"
      },
      {
        "text": "dfrem idfd",
        "title": "Ddfom Tfdfs",
        "img": "product2"
      },
      {
        "text": "dewrwm idfd",
        "title": "dewrwmom Tfdfs",
        "img": "product3"
      },])
